# Ignore everything in data except data/feed
/data/archive/
/data/temp/
/data/events_output/
/data/evergreen/
/data/non-evergreen/
data/events.json

# Virtual environments
venv/
.env

# Python cache and compiled files
__pycache__