# Ignore everything in data except data/feed
/data/archive/
/data/temp/
/data/events_output/
/data/evergreen/
data/events.json

# Virtual environments
venv_main/
venv_app/
.env

# Python cache and compiled files
__pycache__