airportsdata==20250523
annotated-types==0.7.0
attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
cloudpickle==3.1.1
diskcache==5.6.3
filelock==3.18.0
fsspec==2025.5.1
genson==1.3.0
hf-xet==1.1.2
huggingface-hub==0.32.2
idna==3.10
interegular==0.3.3
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lark==1.2.2
MarkupSafe==3.0.2
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.6
outlines==0.1.14
outlines_core==0.1.26
packaging==25.0
pycountry==24.6.1
pydantic==2.11.5
pydantic_core==2.33.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rpds-py==0.25.1
safetensors==0.5.3
setuptools==80.9.0
sympy==1.14.0
tokenizers==0.21.1
torch==2.7.0
tqdm==4.67.1
transformers==4.52.3
typing-inspection==0.4.1
typing_extensions==4.13.2
urllib3==2.4.0
